@media (min-width: 100%) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}



body {
  margin-bottom: 60px;

}

header {
    background-color: #101820;
    color: white;
}

.footer {
    background-color: #101820;
    color: white;
}

.login.logout-card a.nav-link {
    text-align: center;
    color: white;
}

.calendar {
    height: 100%;
    width: 100%;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
    min-height: 100%;
    min-width: 100%;
    background-color: #FEE715;
}

.navbar-brand, .nav-link {
    color: white !important
}

.weekdays {
    margin-left: 5px;
    margin-right: 5px;
}